* {
  font-family: Helvetica, sans-serif;
  color: azure;
  font-weight: bold;
}
body {
  padding-left: 60px;
  background-color: #000f;
}
button {
  color: black;
}
input {
  color: black;
  font-size: 1.6rem;
}
.containerAddCat {
  display: flex;
  flex-direction: column;
  width: 80%;
}
button {
  height: 2rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding:5px;
  text-align: center;

}
.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}